@{
    ViewBag.Title = "About My Contacts Manager";
}
<h2>@ViewBag.Title.</h2> 
<br />

@*<h3>@ViewBag.Message</h3>*@


<p>
    I have been a VB.Net/Web Forms developer for a few years and now I am working on expanding
    my skills with C# programming and the MVC arcitecture.
</p>
<p>
    This project came from a great course I took online at Udemy, <a href="https://www.udemy.com/aspnet-mvc-quick-start/" target="_blank">ASP.Net MVC Quick Start</a>, by Brian Gorman.
</p>  
<p>
    After completing the course I finished off the rough project, added the contacts group field and the dropdown lists which are populated from a table in the database.
    Getting the contact group labels from the table into the dropdown lists ended up taking more work and time than I initially expected, but that is how you learn. 
    If you are looking to get your feet wet with MVC and already have some C# under your belt then this course would be a great place to start.
</p>

<p>
    The application is hosted on <a href="https://appharbor.com/" target="_blank">AppHarbor</a>.
    its free so that is why there is a slight delay when first opening the site as the server has to spin up.
</p>
