@{
    ViewBag.Title = "Gregory Davis";
}
<h2>@ViewBag.Title</h2>
<br />

@*<h3>@ViewBag.Message</h3>*@



<address>
    <a href="mailto:gdavis@davtechsolutions.com">E-mail</a><br /><br />
    <a href="https://davisg67.github.io/" target="_blank">Portfolio</a>
</address>