@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contact Manager Project</h1>
    <p class="lead">A Web application using ASP.NET, C# and MVC architecture.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET Framework</h2>
        <p>
            Microsoft ASP.NET is an open-source server-side web application framework designed for 
            web development to produce dynamic web pages. It allow programmers to build dynamic web sites, 
            web applications and web services. 
        </p>
        <p><a class="btn btn-default" href="https://www.asp.net/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>C# (C-Sharp)</h2>
        <p>C# is a type-safe object-oriented programming language that enables developers to build 
           a variety of secure and robust applications that run on the .NET Framework. You can use C# 
           to create Windows client applications, XML Web services, distributed components, client-server 
           applications, database applications, and more. 
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>The MVC architectural pattern separates concerns within an application into three main parts. 
           The <strong>Model</strong> − A representation of the data as well as the business logic.
           The <strong>View</strong> − The HTML structuring that defines the look of the user interface.
           The <strong>Controller</strong> − A set of classes that handles communication from the user, overall application flow, and application-specific logic.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/getting-started" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>